<!DOCTYPE html>
<html>
<head>
<style>
#header {
    background-color:lightblue;
    color:white;
    text-align:center;
    padding:5px;
}
#nav {
    line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:100px;
    float:right;
    padding:50px;
}
#section {
    width:350px;
    float:left;
    padding:100px;
}
#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
   padding:5px;
}
</style>
</head>
<body>

<div id="header">
<h1>Donate for a cause</h1>
</div>

<div id="nav">
<a href = 'login'> Log In </a><br>
<a href = '/about'> About</a> <br>
</div>

<div id="section">
<h2>Give</h2>
<p>This is a place where you can help the humanity. It won't take much of your effort, just with a click you can make a difference!</p>
<p>In return you will get blessings and a certificate of appreciation from our side, which you can use to save your taxes. It's that simple :)</p>
</div>

<div id="footer">
Copyright © savehumanity.org
</div>

</body>
</html>
